#ignore all .idea
**/.idea/

#ignore all .vscode
**/.vscode/

# ignore macOS Finder settings file
**/.DS_Store

# Environment Variables
**/.env

# Ignore all virtual environments
**/.venv/
**/venv/

# Ignore all pycaches
**/__pycache__/

# Ignore all pycaches
**/.pytest_cache/

# Ignore chroma data
**/.chroma_data
**/.chroma_db

# Ignore npm modules
**/node_modules

# Ignore vite build dir dist
**/dist

# Coverage and testing artifacts
**/.coverage
**/coverage.xml
**/htmlcov/
**/.cache/

# Ignore binary files
*.bin
/bin/

# Ignore dump database files
Backend/DB/old_data_dump.sql

Backend/db-backup.sql

# Ignore Chroma vector database
Backend/Data/chroma_db/
Backend/['CHROMA_DATA_PATH']/
**/chroma.sqlite3
**/*.pickle

# ignore validate rag result files
validate_rag_result_*.json

