# ===========================================
# Python Virtual Environment Settings
# ===========================================
VENV_DIR=.venv
REQ_FILE=requirements.txt

# ===========================================
# FastAPI Server Configuration
# ===========================================
API_HOST=localhost
API_PORT=8000
API_RELOAD_DIR=API

# ===========================================
# PostgreSQL Database Configuration
# ===========================================
DB_NAME=course_gpt
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
SCHEMA_FILE = DB/schema_database.sql
SEED_FILE = DB/seed_database.sql

# ===========================================
# Chroma Vector Database Configuration
# ===========================================
CHROMA_DATA_PATH=./.chroma_data

# ===========================================
# JWT Authentication Settings
# ===========================================
# To generate a secure secret key in Python:
# >>> import secrets; print(secrets.token_hex(32))
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256