fastapi==0.118.0
uvicorn==0.35.0 
langchain==0.3.1 
langchain-community==0.3.1 
langchain-huggingface==0.1.0 
langchain-chroma==0.1.4 
chromadb==0.5.5 
pypdf==5.0.0 
sentence-transformers==3.1.1 
torch==2.4.1 
transformers==4.44.2 
pydantic==2.9.2